{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<img src="" alt="">
<div class="row">
  <div class="col-md-4">
    {% if profile.dp %}
    <div class="row">


      <div class="cont">
        <img id="" class="image" src="{{profile.dp.url}}" style="border-radius: 100%; width: 200px; height: 200px;" class="img-thumbnail " alt=""> </div>

      {% else %}
      <div class="cont">
        <img id="" class="image" src="http://www.digitalvertigo.co.uk/forum/uploads//monthly_05_2016/post-3489-0-19929300-1462982286.jpg" style="border-radius: 100%; width: 200px; height: 200px;" class="img-thumbnail " alt="">

      </div>

      <h3><em>{{ profile.user.username}}</em></h3>
      {% endif %}
      <h3><em>{{ profile.user.username}}</em></h3>
    </div>
    <h3><em>{{profile.profile.bio}}</em></h3>
  </div>



  <div class="col-md-4">

  </div>
</div>
<hr>
<div class="row">


</div>
{% endblock %}
